# Git
.git
.github

# Python
__pycache__
*.py[cod]
venv/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
